<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.GraphMapper">
	<select id="cavg" resultType="hashmap">
		 	select lname , avg(grade) avg 
			FROM courses c,enrollments e 
			WHERE c.lcode=e.lcode 
			GROUP by lname
	</select>
</mapper>